.navbar-collapse {
    flex-grow: unset;
}

.dropdown {
    position: relative;
    top: 5px;
}

.navbar-nav .dropdown-menu {
    margin-right: 5px;
}


.dropdown-menu[data-bs-popper] {
    left: unset;
    right: 5px;
}

.nav-container {
    width: 90%;
    flex-wrap: nowrap;
}

.search-form-btn {
    display: block;
}

header {
    height: 80px;
}

@include media-breakpoint-down(sm) {
    .search-form-btn {
        display: none;
    }
}

@include media-breakpoint-down(xs) {
    .search-form {
        width: 105px;
    }
}