.img-container > img {
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.carousel-item > img {
  height: 400px;
  width: 100%;
}

.aboutUs {
  margin-bottom: 150px;
}

.card-footer {
  background-color: unset;
  border-top: unset;
}

.card-description {
  min-height: 50px;
}

.card-title {
  width: 70%;
  min-height: 50px;
}

.card {
  border: unset;
}

footer {
  height: 90px;
}

.addBtn {
  border-radius: 12px;
}

.input-group-text {
  background-color: unset;
  border: unset;
}

.singleItem {
  max-width: 1000px;
}

.bidList {
  max-width: 50%;
  margin: auto;
  overflow-y: scroll;
  max-height: 220px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cloneImg {
  display: flex;
  flex-wrap: wrap;
}

.bi-trash {
  cursor: pointer;
  margin-left: -8px;
}

.imgContainer {
  max-width: 90px;
  max-height: 70px;
}

.created {
  position: relative;
  top: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.222);
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 2.5rem;
  height: 2.5rem;
}

@include media-breakpoint-down(sm) {
  .bid-ol {
    flex-wrap: wrap;
  }

  .bidList {
    max-width: unset;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 15%;
  }
}
