.img-container > img {
  height: 150px;
  width: 100%;
}

.carousel-item > img {
  height: 400px;
  width: 100%;
}

.aboutUs {
  margin-bottom: 150px;
}

.card-footer {
  background-color: unset;
  border-top: unset;
}

.card-description {
  overflow-y: scroll;
  height: 100px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-title {
  height: 70px;
  width: 80%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

footer {
  height: 90px;
}

.addBtn {
  border-radius: 12px;
}

.input-group-text {
  background-color: unset;
  border: unset;
}

.singleItem {
  max-width: 1000px;
}

.bidList {
  height: 50px;
}

.cloneImg {
  display: flex;
  flex-wrap: wrap;
}
